@model FraudFence.Web.Models.ArticleDetailsViewModel

<header class="bg-primary text-white py-5 mb-4">
    <div class="container">
        <h1 class="display-5 font-weight-bold">@Model.Title</h1>
    </div>
</header>

<div class="container mb-5">
    <p class="text-muted">@Model.CreatedAt.ToString("dd MMM yyyy")</p>
    <article class="lead">@Html.Raw(Model.Content)</article>
</div>
