<li class="nav-item @Html.IsSelected("Home", "active")">
    <a class="nav-link mr-4" asp-controller="Home" asp-action="Index" asp-area="Publisher">
        <i class="fas fa-home mr-1"></i>
        <span>Home</span>
    </a>
</li>

<li class="nav-item @Html.IsSelected("Articles", "active")">
    <a class="nav-link mr-4" asp-controller="Articles" asp-action="Index" asp-area="Publisher">
        <i class="fas fa-book mr-1"></i>
        <span>Articles</span>
    </a>
</li>

<li class="nav-item @Html.IsSelected("Newsletters", "active")">
    <a class="nav-link mr-4" asp-controller="Newsletters" asp-action="Index" asp-area="Publisher">
        <i class="fas fa-newspaper mr-1"></i>
        <span>Newsletters</span>
    </a>
</li>
