container_commands:
  01_database_migration:
    command: "cd /var/app/current && dotnet ef database update --connection 'Server=${RDS_HOSTNAME};Database=${RDS_DB_NAME};User Id=${RDS_USERNAME};Password=${RDS_PASSWORD};TrustServerCertificate=True;MultipleActiveResultSets=True;'"
    leader_only: true
    ignoreErrors: true 